.textAReturn {
  margin-left: 2em;
  background-color: white;
}

.textBReturn {
  margin-left: 2em;
  background-color: white;
}

.returnTextElement {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.textBElement {
  margin-left: 2em;
  background-color: white;
}

.textAElement {
  margin-right: 2em;
  background-color: white;
  border: 0px;
}

.matchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

mat-form-field  {
  width: 500px;
  height: 350px;
}
  
textarea {
  width: 500px;
  height: 324px;
}


.alterColor {
  background-color: lightgreen;
}

.endedEarly {
  background-color: rgb(227, 210, 250);
}