<form *ngIf="returnValue" [formGroup]="textResult"> 
  <div class="matchForm">
    <pre><span class='textResultA'>{{textAReturn}}</span></pre>
  
    <pre><span [innerHTML]='textBReturn'></span></pre>
  </div>
</form>


<form [formGroup]="textInput" (ngSubmit)="onSubmit()"> 
  <div class="matchForm">
    <mat-form-field class="textAElement">
        <textarea matInput formControlName = "textA"></textarea>
    </mat-form-field>
    <div> 
      <button mat-raised-button color="primary">Submit</button>
    </div>
    <mat-form-field class="textBElement" >
        <textarea matInput formControlName = "textB"></textarea>
    </mat-form-field>
  </div>
</form>