<form [formGroup]="textInput" (ngSubmit)="onSubmit()"> 
  <div class="result">
   Does it Match?  {{results()}}
  </div>
  <div class="matchForm">
    <mat-form-field class="textAElement">
        <textarea matInput formControlName = "textA"></textarea>
    </mat-form-field>
    <div> 
      <button mat-raised-button color="primary">Submit</button>
    </div>
    <mat-form-field class="textBElement" >
        <textarea matInput formControlName = "textB"></textarea>
    </mat-form-field>
  </div>
</form>