<form *ngIf="returnValue" [formGroup]="textResult"> 
  <div class="returnTextElement">
      <div class="textBox"> 
          <div class="textAReturn"><span [innerHTML]='textAReturn'></span></div>
      </div>
      <div class="textBox">
          <div class="textBReturn"><span [innerHTML]='textBReturn'></span></div>
      </div>
    <!-- <div class="textBox"> 
     <pre class="textAReturn"><span [innerHTML]='textAReturn'></span></pre>
    </div>
    <div class="textBox">
      <pre class="textBReturn"><span [innerHTML]='textBReturn'></span></pre>
    </div> -->
  </div>
</form>


<form [formGroup]="textInput" (ngSubmit)="onSubmit()"> 
  <div class="matchForm">
    <mat-form-field class="textAElement">
        <textarea matInput formControlName = "textA"></textarea>
    </mat-form-field>
    <div> 
      <button mat-raised-button color="primary">Submit</button>
    </div>
    <mat-form-field class="textBElement" >
        <textarea matInput formControlName = "textB"></textarea>
    </mat-form-field>
  </div>
</form>