.textAReturn {
  margin-left: 2em;
  background-color: white;
  margin-right: 20em;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.textBReturn {
  margin-left: 5em;
  background-color: white;
  margin-right: 20em;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
 
.textBox{
  width: 500px;
  margin-right: 6em;
}
.returnTextElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBElement {
  margin-left: 2em;
  background-color: white;
}

.textAElement {
  margin-right: 2em;
  background-color: white;
  border: 0px;
}

.matchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

mat-form-field  {
  width: 500px;
  height: 350px;
}
  
textarea {
  width: 500px;
  height: 324px;
}

.alterColor {
  background-color: lightgreen;
}

.endedEarly {
  background-color: rgb(227, 210, 250);
}