.matchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.textBElement {
  margin-left: 2em;
  background-color: white;
}

.textAElement {
  margin-right: 2em;
  background-color: white;
  border: 0px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

mat-form-field  {
  width: 500px;
  height: 350px;
}
  
textarea {
  width: 500px;
  height: 324px;
}

.textResultA {
  width: 500px;
  height: 324px;
}

::slotted(span) {
  font-weight: bold;
}

/deep/ {
  font: red;
}

  


/* 
// host ::ng-deep .mat-form-field-wrapper
//   padding-bottom: 0; */
    